<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="MyCSS.css">

		<title>INFORMÁTICA SEM COMPLICAÇÃO</title>
	</head>

	<body>
		<div class="principal">
			<div class="cabecalho">
				<div class="logo-cabecalho">
					<a href="./">INFORMÁTICA SEM COMPLICAÇÃO</a>
				</div>
				
				<div class="pesquisa">
					<input type="text" />
					<input type="submit" value="Pesquisar" />
				</div>
			</div>
			<div class="menu">
				<ul>
					<li><a href=Index.html>Início</a></li>
                    <li><a href=Contato.html>Contato</a></li>
				</ul>
			</div>
			<div class="corpo">
				<div class="artigos">
					<div class="espacamento">
						<h1>INFORMÁTICA PARA TODOS</h1>
						
						<p>
						O trabalho home office, ou trabalho à distância, vem crescendo com o passar dos anos, e as pessoas e as empresas têm encontrado nessa modalidade de trabalho uma saída para ter mais flexibilidade de horários.
                        A tendência é que o home office cresça ainda mais no Brasil e em todo o mundo, ganhando um espaço garantido na vida de muitos profissionais que buscam mais autonomia e flexibilidade.
						</p>
						<p>
							<img src="istockphoto-837840610-1024x1024.jpg" />
						</p>
			
					</div>
				</div>
				<div class="barra-lateral">
					<div class="espacamento">
						<h2>Lista de Artigos</h2>
						<p><a href=artigo1.html>Dicas para o home office </a>.</p>
					</div>
					<div id="app"></div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      template: `
        <div class="container">
          <h1>Comentários</h1>
          <hr />
          <div class="form-todo form-group">
            <p>
              <input placeholder="nome" type="text" name="author" class="form-control" v-model="name" />
            </p>
            <p>
              <textarea placeholder="Comentário" name="message"  class="form-control" v-model="message"></textarea>
            </p>
            <button v-on:click="addComment" type="submit" class="btn btn-primary">Enviar</button>
          </div>
          <div class="list-group">
            <div class="list-group-item" v-for="(comment, index) in allComments">
              <span class="comment__author">Autor: <strong>{{ comment.name }}</strong></span>
              <p>{{ comment.message }}</p>
              <div>
                <a href="#" title="Excluir" v-on:click.prevent="removeComment(index)">Excluir</a>
              </div>
            </div>
          </div>
          <hr />
        </div>
      `,
      data() {
        return {
          comments: [],
          name: '',
          message: '' 
        }
      },
      methods: {
        addComment() {
          if (this.message.trim() === '') {
            return;
          }
        
          this.comments.push({
            name: this.name,
            message: this.message
          });

          this.name = '';
          this.message = '';
        },
        removeComment(index) {
          this.comments.splice(index, 1);
        }
      },
      computed: {
        allComments() {
          return this.comments.map(comment => ({
            ...comment,
            name: comment.name.trim() === '' ? 'Anônimo' : comment.name
          }))
        }
      },
      watch: {
        comments(val) {
          console.log('val', val)
        }
      }
    })
  </script>
				</div>
			</div>
			<div class="rodape">
			</div>
		</div>
	</body>
</html>